# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

/.idea/
/cms/
/framework/
/reports/
/siteconfig/
/silverstripe-less/
/assets/schoolsByCity.json
/logs/
/themes/isu/css/main.css

/gridfieldextensions
/silverstripe-excel-export
/gridfieldmultiselect
/gridfieldajaxrefresh
/staticpublishqueue