@import "bootstrap/bootstrap";

body {
  padding-top: 70px;
}

.school-strike-form {
  .form-error-message,
  .choose-school,
  .add-school-toggle,
  .add-city {
    display: none;
  }
}

#map {
  width: 100%;
  background: transparent;
}

.form-submitting {
  opacity: 0.8;
}

.footer {
  border-top: 1px solid black;
  margin-top: 30px;
}